.DS_Store
Thumbs.db

.settings
.idea
.classpath
.project

*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/

!.mvn/wrapper/maven-wrapper.jar

fhir-pgdata/

build.sh

haproxy/*.crt
haproxy/*.pem
haproxy/*.key
/bin/
