<!doctype html>
<!-- Normally this will be a site to accept a user name and password and log in to determine which code to send, for now it'll just redirect-->
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>App Launch</title>
    <meta content="Authorize Cindehr" name="description">

    <link href="js/lib/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
</head>

<body>

<div th:replace="tmpl-banner :: banner"></div>

<br>
<br>

<div id="pageContent" class="container">
    <div style="margin-bottom:40px;">
        This is a very simplistic interface that mimics the basic functionality of an
        EHR for launching an external SMART App via the EHR Launch flow.  Enter in the
        launch URL of the app, select a Patient and Encounter to be provided
        as context during the launch, and click the Launch App button.  The web browser
        will be redirected to the launch URL of the app, containing the necessary query
        parameters as described in the SMART App Launch guide.
    </div>
    <div>
        <div class="form-row">
            <div class="col-3 text-right">
                <label for="appURI">App Launch URL</label>
            </div>
            <div class="form-group col-6">
                <input id="appURI" type="text" class="form-control"/>
            </div>
            <div class="form-group col-3">
                <button id="launchAppButton" class="btn btn-info">Launch App</button>
            </div>
        </div>
    </div>
    <div>
        <div class="form-row">
            <div class="col-3 text-right">
                <label for="patientSelector">Patient ID</label>
            </div>
            <div class="form-group col-6">
                <select class="form-control" id="patientSelector">
                    <option>Loading...</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <div class="form-row">
            <div class="col-3 text-right">
                <label for="encounterSelector">Encounter ID</label>
            </div>
            <div class="form-group col-6">
                <select class="form-control" id="encounterSelector">
                    <option>Loading...</option>
                </select>
            </div>
        </div>
    </div>
</div>

<script src="js/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="js/lib/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
<script src="js/app-launch.js?s=v5"></script>

<script>
    $(document).ready(function () {
        window.mitre.fhirreferenceserver.appLaunch.init();
    });
</script>
</body>
</html>
