<!doctype html>
<!-- Normally this will be a site to accept a user name and password and log in to determine which code to send, for now it'll just redirect-->
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Authorize</title>
    <meta content="Authorize Cindehr" name="description">
    <link href="js/lib/DataTables-1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>

    <div id="pageContent">
        <div>Please select which scopes you would like to authorize:</div>

        <br>

        <div id="scopes"></div>

        <br>

        <button id="submit" type="button">Authorize</button>
    </div>
    
    <script src="js/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="js/lib/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="js/authorize.js"></script>

    <script>
        $(document).ready(function () {
            window.mitre.fhirreferenceserver.authorize.init();
        });
    </script>
</body>
</html>