<!doctype html>
<!-- Normally this will be a site to accept a user name and password and log in to determine which code to send, for now it'll just redirect-->
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Revoke Token</title>
  <meta name="description" content="Authorize Cindehr">
  
  <link href="../js/lib/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet"> 
  <link href="../css/site.css" rel="stylesheet">
</head>

<body>
	<div th:replace="tmpl-banner :: banner"></div>
	
	<br>
	<br>
	
    <div id="pageContent" class="container">
   		<div>
			<div class="form-row">
				<div class="form-group col-3  text-right">
					<label for="revokeToken">Token</label>
				</div>
				<div class="form-group col-6">
  					<input id="revokeToken" type="text" class="form-control"/> 
  				</div>
  				<div class="form-group col-3">
  					<button id="revokeTokenButton" class = "btn btn-info">Revoke</button>
  				</div>
  			</div>
  		</div>
  	
  	</div>
  
   	<script src="../js/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
	<script src="../js/lib/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
 
    <script>
      $(document).ready(function() {


      	$('#revokeTokenButton').click(function() {
      	
      		console.log("Revoke Button Pressed");
      		const url = '/reference-server/oauth/token/revoke';
      		const data = { "token" : $('#revokeToken').val() || "" };
	        
      		/*$.post(url, data, function(data, status) {
	            
	            alert("Token successfully revoked.")

	        }).fail(function() {
	            alert("Error revoking token");
	        });*/
	        
	        
      		$.ajax({
      		  type:    "POST",
      		  url:     url,
      		  data:    data,
      		  success: function(data) {
  	            alert("Token successfully revoked.")
      		  },
      		  error:   function(jqXHR, textStatus, errorThrown) {
  	            	alert("Error revoking token");

      		        console.log("Error, status = " + textStatus + ", " +
      		              "error thrown: " + errorThrown
      		        );
      		  }
      		});
	        
	    });



      });

  </script>
</body>
</html>