<!doctype html>
<!-- Normally this will be a site to accept a user name and password and log in to determine which code to send, for now it'll just redirect-->
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Revoke Token</title>
  <meta name="description" content="Authorize Cindehr">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/css/site.css" rel="stylesheet">
</head>

<body>
	<div th:replace="tmpl-banner :: banner"></div>
	
	<br>
	<br>
	
    <div id="pageContent" class="container">
   		<form>
			<div class="form-row">
				<div class="form-group col-3  text-right">
					<label for="revokeToken">Token</label>
				</div>
				<div class="form-group col-6">
  					<input id="revokeToken" type="text" class="form-control"/> 
  				</div>
  				<div class="form-group col-3">
  					<button id="revokeTokenButton" class = "btn btn-info">Revoke</button>
  				</div>
  			</div>
  		</form>
  	
  	</div>
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script>
      $(document).ready(function() {


      	$('#revokeTokenButton').click(function() {
      		const url = '/reference-server/oauth/token/revoke';
      		const data = { "token" : $('#revokeToken').val() || "" };
	        $.post(url, data, function(data, status) {
	            
	            alert("Token successfully revoked.")

	        }).fail(function() {
	            alert("Error revoking token");
	        });
	    });



      });

  </script>
</body>
</html>