<!DOCTYPE html>
<html lang="en">
<div th:fragment="banner">
    <div class="row navbar navbar-light inferno">
        <div class="col-3">
            <img alt="MITRE" class="navbar-brand" src="img/mitre.jpg"/>
        </div>
        <div class="col-6 text-center">
        	
            <h4 class="">Inferno Demo FHIR Server</h4>
        </div>
        <div class="col-3"></div>
    </div>

    <!-- Error banner in case anything went wrong -->
    <div class="alert alert-danger alert-dismissable" th:if="${errorMsg} != null">
        <strong>Warning!</strong>
        <p th:text="${errorMsg}"></p>
    </div>
</div>
</html>
