name: Inferno CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  INFERNO_G10_RELEASE: v6.0.0

jobs:

  test:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout server
        uses: actions/checkout@v4

      - name: Fetch latest g10 test kit
        run: git clone https://github.com/onc-healthit/onc-certification-g10-test-kit.git --branch $INFERNO_G10_RELEASE --depth 1

      # TODO: delete this when inferno execute is merged
      - name: Point test kit to experimental branch
        working-directory: ${{ github.workspace }}/onc-certification-g10-test-kit
        run: |
          echo "gem 'inferno_core', git: 'https://github.com/inferno-framework/inferno-core.git', branch: 'fi-2937-inferno-execute'" >> Gemfile
          rm Gemfile.lock # force re-install

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          working-directory: ${{ github.workspace }}/onc-certification-g10-test-kit
          bundler-cache: true

      - name: Start server
        run: |
          docker compose build
          docker compose up -d
          wget -qO- https://raw.githubusercontent.com/eficode/wait-for/v2.2.3/wait-for | sh -s -- localhost:8080 -- echo "Server ready"

      - name: Start Inferno services
        run: |
          bundle exec inferno migrate
          bundle exec inferno services start
          wget -qO- https://raw.githubusercontent.com/eficode/wait-for/v2.2.3/wait-for | sh -s -- http://localhost:80/hl7validatorapi/validator/version -- echo "Inferno services ready"

      - name: Run test kit
        working-directory: ${{ github.workspace }}/onc-certification-g10-test-kit
        run: |
          bundle exec inferno execute --group g10_single_patient_api \
                                      --suite-options us_core_version:us_core_3 smart_app_launch_version:smart_app_launch_1 multi_patient_version:multi_patient_api_stu1 \
                                      --inputs "url:localhost:8080/reference-server/r4" patient_id:85 additional_patient_ids:85,355 "smart_credentials:{\"access_token\":\"SAMPLE_TOKEN\"}" \

      - name: Stop server
        run: docker compose down
