name: Test With Inferno

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build in advance to reduce later output 
      run: docker-compose -f ./.github/inferno/docker-compose.yml build

    - name: Run Inferno Program tests on Reference Server
      run:  docker-compose -f ./.github/inferno/docker-compose.yml run -T inferno_program ./wait-for-it.sh -t 0 reference_server:8080 -- bundle exec rake db:create db:migrate inferno:execute[http://reference_server:8080/reference-server/r4,onc_program,UsCoreR4CapabilityStatement,USCore311Patient,USCore311Allergyintolerance,USCore311Careplan,USCore311Careteam,USCore311Condition,USCore311ImplantableDevice,USCore311DiagnosticreportNote,USCore311DiagnosticreportLab,USCore311Documentreference,USCore311Goal,USCore311Immunization,USCore311Medicationrequest,USCore311Smokingstatus,USCore311PediatricWeightForHeight,USCore311ObservationLab,USCore311PediatricBmiForAge,USCore311PulseOximetry,USCore311HeadOccipitalFrontalCircumferencePercentile,USCore311Bodyheight,USCore311Bodytemp,USCore311Bp,USCore311Bodyweight,USCore311Heartrate,USCore311Resprate,USCore311Procedure,USCoreR4ClinicalNotes,USCore311Encounter,USCore311Location,USCore311Organization,USCore311Practitioner,USCore311Practitionerrole,USCore311Provenance,USCoreR4DataAbsentReason,BulkDataAuthorization,BulkDataGroupExport,BulkDataGroupExportValidation] --  --TOKEN "SAMPLE_TOKEN" --PATIENT_IDS "85, 355" --DEVICE_CODES ""  --BULK_CLIENT_ID "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InJlZ2lzdHJhdGlvbi10b2tlbiJ9.eyJqd2tzX3VybCI6Imh0dHA6Ly8xMC4xNS4yNTIuNzMvaW5mZXJuby8ud2VsbC1rbm93bi9qd2tzLmpzb24iLCJhY2Nlc3NUb2tlbnNFeHBpcmVJbiI6MTUsImlhdCI6MTU5NzQxMzE5NX0.q4v4Msc74kN506KTZ0q_minyapJw0gwlT6M_uiL73S4" --BULK_JWKS_URL_AUTH "https://inferno.healthit.gov/inferno/.well-known/jwks.json" --BULK_TOKEN_ENDPOINT "http://reference_server:8080/reference-server/oauth/bulk-token" --BULK_SCOPE "system/*.read" --GROUP_ID "1a" --BULK_URL "http://reference_server:8080/reference-server/r4" --BULK_LINES_TO_VALIDATE ""  --BULK_STATUS_OUTPUT ""  --BULK_PATIENT_IDS_IN_GROUP "" --BULK_DEVICE_TYPES_IN_GROUP "" --BULK_ENCRYPTION_METHOD "ES384"
